<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
</head>
<body>
    <form method="post">  <!-- Formulario con método POST para enviar los datos -->
        {% csrf_token %}  <!-- Token de seguridad contra ataques CSRF -->
        {{ form.as_p }}  <!-- Renderiza el formulario con los campos como párrafos -->
        <button type="submit">Ingresar</button>  <!-- Botón para enviar el formulario -->
    </form>

    <!-- Muestra errores generales del formulario si existen -->
    {% if form.non_field_errors %}
        <div>
            {% for error in form.non_field_errors %}  <!-- Itera sobre los errores -->
                <!-- <p class ="error">{{ error }}</p> -->
                  <!-- Muestra cada error -->
            {% endfor %}
        </div>
    {% endif %}
    <p>
        ¿Todavía no tienes una cuenta? 
        <a href="{% url 'registro' %}">¡Regístrate!</a>
    </p>

</body>
</html>
