{% extends 'base.html' %} {% block content %}


<a href="{% url 'home' %}">Volver al Inicio</a>
<div class="areaPrincipal">
  <div class="formContainer">
    <h2 class="sectionTitle">Información del Cliente</h2>
    <table class="clienteTable">
      <tbody>
        <tr>
          <th>Nombre</th>
          <td>{{ cliente.nombre }}</td>
        </tr>
        <tr>
          <th>Apellido</th>
          <td>{{ cliente.apellido }}</td>
        </tr>
        <tr>
          <th>DNI</th>
          <td>{{ cliente.dni }}</td>
        </tr>
        <tr>
          <th>Dirección</th>
          <td>{{ cliente.direccion }}</td>
        </tr>
      </tbody>
    </table>  </div>
</div>


{% endblock %}